# Django core
SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True

# Comma-separated list of allowed hosts (prod only)
ALLOWED_HOSTS=localhost,127.0.0.1

# Database connection string
# Example (SQLite, default for dev): sqlite:///db.sqlite3
# Example (Postgres, prod): postgres://user:password@localhost:5432/saas_metering
DATABASE_URL=sqlite:///db.sqlite3
